

/* hero */

/* advantages */


/* team */


/* portfolio */


/* footer */

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
        padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-descr {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}

.footer-logo-contrast {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

a {
    text-decoration: none;
}

.social-links-footer {
    min-width: 208px;
    height: 80px;
    margin-right: 80px;
}

.footer-social {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.icons-list-footer {
    gap: 16px;
}

.footer-icons-link:hover, .footer-icons-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-container {
    margin-left: auto;

}

.subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe {}

.subscribe-field {
font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        padding-left: 16px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #fff;
}

.subscribe-field::placeholder {
        color: #fff;
        
}

.subscribe-field:focus {
    outline: transparent;
    box-shadow: none;
    border: 1px solid #31d0aa;
    background-color: rgba(49, 208, 170, 0.1);
}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            cursor: pointer;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
    background-color: #31d0aa;
    border: none;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
visibility: visible;
opacity: 1;
pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
        width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        padding-top: 72px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
padding: 0;
border: 0;
line-height: 0;
stroke: #2e2f42;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: transparent;
width: 24px;
height: 24px;
background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:50%;
    cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.close-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
   
}

.modal-container {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;}

.input-container {
    position: relative;
}

.input-form {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
border: 1px solid #4d5ae5;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .modal-icon {
    fill: #4d5ae5;
}

.comment-container {
    margin-bottom: 16px;
}

.comment-field {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
    resize: none;
}

.comment-field::placeholder {
        color: rgba(46, 47, 66, 0.4);
}

.comment-field:focus {
border: 1px solid #4d5ae5;
}

.checkbox-section {
    margin-bottom: 24px;
}

.accept-checkbox {
   cursor: pointer;
}

.accept-text {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.accept-icon {
    fill: #f4f4fd;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    fill: transparent;
        border: 1px solid rgba(46, 47, 66, 0.4);
        background-color: transparent;
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-url {
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.accept-checkbox:checked + .accept-text > .custom-checkbox {
    border: px solid #404bbf;
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.send-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover, .send-btn:focus {
    background-color: #404BBF;
}